/* Site */

@import url(http://fonts.googleapis.com/css?family=Titillium+Web:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900);

body
{
  margin: 0;
  padding: 0;
  font-family: 'Titillium Web', sans-serif;
  text-align: center;
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6
{
  font-weight: 200;
}

h1
{
  display: inline-block;
  position: relative;
  margin-top: 7%;
  font-size: 2000%;
  vertical-align: middle;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

h1:hover
{
  cursor: default;
}

div
{
  display: inline-block;
  height: 100%;
  width: 0;
  vertical-align: middle;
}

body, h1
{
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease; 
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

/* Flashlight */

#flashlight
{
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 100%;

  background: rgba(255, 255, 255, 1);
  background: -moz-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(255,255,255,0.5) 50%, rgba(255,255,255,0.49) 51%, rgba(255,255,255,0) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, , color-stop(0%, rgba(255, 255, 255, 1)), color-stop(50%, rgba(255,255,255,0.5)), color-stop(51%, rgba(255,255,255,0.49)), color-stop(100%, rgba(255,255,255,0)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(255,255,255,0.5) 50%, rgba(255,255,255,0.49) 51%, rgba(255,255,255,0) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(255,255,255,0.5) 50%, rgba(255,255,255,0.49) 51%, rgba(255,255,255,0) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(255,255,255,0.5) 50%, rgba(255,255,255,0.49) 51%, rgba(255,255,255,0) 100%);
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 1) 0%, rgba(255,255,255,0.5) 50%, rgba(255,255,255,0.49) 51%, rgba(255,255,255,0) 100%);
}