[submodule "creepy-noise"]
	path = creepy-noise
	url = https://github.com/upisfree/creepy-noise.git
[submodule "gradient"]
	path = gradient
	url = https://github.com/upisfree/gradient.git
[submodule "symbol-paint"]
	path = symbol-paint
	url = https://github.com/upisfree/symbol-paint.git
[submodule "two-smiles"]
	path = two-smiles
	url = https://github.com/upisfree/two-smiles.git
[submodule "binary-bot"]
	path = binary-bot
	url = https://github.com/upisfree/binary-bot.git
