[submodule "no-ogomk-movie"]
	path = no-ogomk-movie
	url = https://github.com/upisfree/no-ogomk-movie
[submodule "game/ld45"]
	path = game/ld45
	url = https://github.com/upisfree/ld45.git
[submodule "game/angry-recruits"]
	path = game/angry-recruits
	url = https://github.com/upisfree/angry-recruits
[submodule "emoji-translator"]
	path = emoji-translator
	url = https://github.com/upisfree/emoji-translator
