[submodule "no-ogomk-movie"]
	path = no-ogomk-movie
	url = https://github.com/upisfree/no-ogomk-movie
[submodule "game/ld45"]
	path = game/ld45
	url = https://github.com/upisfree/ld45
[submodule "emoji-translator"]
	path = emoji-translator
	url = https://github.com/upisfree/emoji-translator
[submodule "tv"]
	path = tv
	url = https://github.com/upisfree/tv
[submodule "game/ld48"]
	path = game/ld48
	url = https://github.com/upisfree/ld48
[submodule "game/13k22"]
	path = game/13k22
	url = https://github.com/upisfree/13k22
[submodule "game/ld52"]
	path = game/ld52
	url = https://github.com/upisfree/ld52
