AddDefaultCharset UTF-8

<IfModule mod_rewrite.c>

  SetEnv HTTP_MOD_REWRITE On

  RewriteEngine on

  RewriteBase /

  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  RewriteRule (.*) project/$1 [L]

</IfModule>